flows.json
[{"id":"1b8cf769.0a51d9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"466e0527.84f25c","type":"ui_form","z":"1b8cf769.0a51d9","name":"","label":"","group":"48d3a0f2.f1c1","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["6792cee2.fbcdf","e9f7868b.421408"]]},{"id":"6792cee2.fbcdf","type":"debug","z":"1b8cf769.0a51d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":100,"wires":[]},{"id":"e9f7868b.421408","type":"function","z":"1b8cf769.0a51d9","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["bdefd8f9.9cb118"]]},{"id":"bdefd8f9.9cb118","type":"cloudant out","z":"1b8cf769.0a51d9","name":"cloudant","cloudant":"","database":"sample","service":"node-red-kwiwj-2020--cloudant-1597403173927-83763","payonly":true,"operation":"insert","x":570,"y":180,"wires":[]},{"id":"6c35c433.86e05c","type":"ui_form","z":"1b8cf769.0a51d9","name":"","label":"","group":"ddefb8ea.6b4a58","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["5cd51827.5e09b8"]]},{"id":"5cd51827.5e09b8","type":"function","z":"1b8cf769.0a51d9","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["21b4865b.ddf99a"]]},{"id":"21b4865b.ddf99a","type":"function","z":"1b8cf769.0a51d9","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["998dbf3e.4e057"]]},{"id":"998dbf3e.4e057","type":"cloudant in","z":"1b8cf769.0a51d9","name":"sample","cloudant":"","database":"sample","service":"node-red-kwiwj-2020--cloudant-1597403173927-83763","search":"_idx_","design":"user","index":"user","x":560,"y":280,"wires":[["525e3c3a.4496a4"]]},{"id":"525e3c3a.4496a4","type":"function","z":"1b8cf769.0a51d9","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":280,"wires":[["fb41a9b5.0afa48"]]},{"id":"fb41a9b5.0afa48","type":"ui_text","z":"1b8cf769.0a51d9","group":"ddefb8ea.6b4a58","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":280,"wires":[]},{"id":"65fe7a9.a799d84","type":"ui_form","z":"1b8cf769.0a51d9","name":"","label":"","group":"8de771e6.c1a7b","order":0,"width":0,"height":0,"options":[{"label":"User input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":380,"wires":[["e2faea6a.199048"]]},{"id":"e2faea6a.199048","type":"function","z":"1b8cf769.0a51d9","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["f713cb17.6f0cb8"]]},{"id":"f713cb17.6f0cb8","type":"watson-conversation-v1","z":"1b8cf769.0a51d9","name":"","workspaceid":"4b19973d-bf8b-46b9-8e07-05d00932a663","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4120af97-d0eb-40e2-8c13-5f841ed82080","timeout":"","optout-learning":false,"x":450,"y":380,"wires":[["9d4bb1a1.26893"]]},{"id":"9d4bb1a1.26893","type":"function","z":"1b8cf769.0a51d9","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["f4d12114.cc50e","cc2dacd2.820c7"]]},{"id":"f4d12114.cc50e","type":"ui_text","z":"1b8cf769.0a51d9","group":"8de771e6.c1a7b","order":1,"width":0,"height":0,"name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":380,"wires":[]},{"id":"cc2dacd2.820c7","type":"ui_audio","z":"1b8cf769.0a51d9","name":"","group":"8de771e6.c1a7b","voice":"","always":"","x":840,"y":440,"wires":[]},{"id":"48d3a0f2.f1c1","type":"ui_group","z":"","name":"Registration Form","tab":"512f8600.fb2818","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddefb8ea.6b4a58","type":"ui_group","z":"","name":"Login Form","tab":"404bd20.e2f4d3","order":1,"disp":true,"width":"6","collapse":false},{"id":"8de771e6.c1a7b","type":"ui_group","z":"","name":"Bot","tab":"c21c134e.670a4","order":1,"disp":true,"width":"6","collapse":false},{"id":"512f8600.fb2818","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"404bd20.e2f4d3","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c21c134e.670a4","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]